body {
    background: #f6dddd;
    position: relative;
  }
  
  #idStartElements{
    margin: auto;
    margin-top: 200px;
    width: 25%;
  }
  
  #idButtonStart{
    margin: auto;
    width: 50%;
    margin-left: 53px;
  }

  #idQuizInfoMessage{
    color: red;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  