<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<!-- Material Design icon font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="../lib/jquery-3.6.1.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/quiz_begin.css">
	<script src="../js/quiz_begin.js"></script>

	<title>Quiz start</title>
</head>



<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="padding: 0;">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<i class="material-icons">face</i>
				<span class="mdl-layout-title">Quiz</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="/admin/login">Log in</a> <!--  Izmijeniti putanju -->
				</nav>
			</div>
		</header>
		<main class="mdl-layout__content">
			<div class="page-content">

				<!--Ovdje ide kod-->

				<div id="idStartElements">
					<form action="#">
						<div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="idInputName">Name:</label>
							<input class="mdl-textfield__input" type="text" id="idInputname">
						</div>
					</form><br>
                    <form action="#">
						<div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="idInputSurname">Surname:</label>
							<input class="mdl-textfield__input" type="text" id="idInputSurname">
						</div>
					</form>

					<button class="mdl-button mdl-js-button mdl-button--raised  mdl-button--colored" id="idButtonStart" onclick="doStart()">
						Start quiz
					</button>

					<div id="idQuizInfoMessage"></div>
				</div>


			</div>
		</main>
	</div>

</body>

</html>